# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Compiled files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# User data
users.json

# Temporary files
*.tmp
*.temp
*.swp
*.bak
*.orig
*.save